url=https://lun.ua/uk/search?currency=UAH&geo_id=10009580&has_eoselia=false&is_without_fee=false&price_max=13000&price_sqm_currency=UAH&section_id=2&sort=insert_time&sub_geo_id=10026629
token=telegram_bot_token
